{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            my_page
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-wdth,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'my_view.css' %}">
    </head>
    <body>
            <div class="name" >
                <p class="name_p">
                    Hi I am Ravi Balebilalu
                </p>
            </div>

            <br>
            <div class="welcome">
                <p class="welcome_p">
                    Welcome to my first webpage!
                </p>
            </div>

            <div class="content">
                <p>Django, a high-level web framework powered by Python, has emerged as a cornerstone for web developers seeking efficiency, maintainability, and rapid development. Since its inception, Django has been embraced by a vibrant community and is widely used for creating robust, scalable web applications</p>
                <p>Advantages of Django</p>
                
                <p class="heading">1. Batteries-Included Philosophy:</p>
                    <p class="lines">    Django follows a "batteries-included" philosophy, providing a rich set of features out of the box. From an ORM system to an admin interface, Django streamlines development by including tools developers commonly need.</p>
                    
                    <p class="heading"> 2. ORM and Database Abstraction:</p>
                    <p class="lines"> The Object-Relational Mapping (ORM) in Django allows developers to interact with databases using Python objects. This abstraction simplifies database operations, reduces the need for raw SQL queries, and enhances code readability.</p>
                    
                    <p class="heading">3. Django Admin Interface:</p>
                    <p class="lines"> Django's automatic admin interface facilitates easy database management. With just a few lines of code, developers get a feature-rich admin panel for managing data models.</p>
                    
                    <p class="heading">4. Scalability:</p>
                    <p class="lines"> Django provides a scalable architecture that allows applications to grow seamlessly. Its modular design, combined with a robust set of tools, enables developers to handle increased complexity without sacrificing performance.</p>
                    
                    <p class="lines">5. Security Features:</p>
                    <p class="lines"> Django is designed with security in mind. It includes features like protection against SQL injection, cross-site scripting (XSS), and cross-site request forgery (CSRF) attacks. This commitment to security helps developers build applications with confidence.</p>
                    
                    <p class="heading">Disadvantages and Considerations</p>
                    <p class="heading">1. Learning Curve:</p>
                    <p class="lines"> Django's feature richness can lead to a steep learning curve for beginners. While the framework provides comprehensive documentation, mastering all its components may take time.</p>
                    
                    <p class="heading"></p>2. Monolithic Nature:
                    <p class="lines"> Some developers argue that Django's monolithic structure may be less suitable for microservices architectures. While Django allows modularity, it might not be as inherently modular as some other frameworks.</p>
                    
                    <p class="heading"></p>3. Flexibility vs. Opinionated Design:
                    <p class="lines"> Django's opinionated design, while a strength for many, might be limiting for developers who prefer more flexibility in choosing components. Django encourages certain best practices, which might not align with every project's specific needs.</p>
                    
                    <p class="heading">Conclusion</p>
                    <p class="lines"> Django's power lies in its ability to simplify complex web development tasks while providing a solid foundation for scalability and security. Its batteries-included approach, combined with a strong emphasis on best practices, has made it a top choice for developers worldwide. As with any tool, understanding its strengths and considerations is crucial for leveraging its full potential in building modern web applications.</p>
                    
                </p>
            </div>

            <div class="thanks">
                <p>Heartfelt gratitude for exploring my website! Your visit is truly valued, and I look forward to enhancing your online journey.</p>

            </div>




    </body>
</html>